@{
    ViewData["Title"] = "Connections";
}

<div style="height: 56px">
    <div style="float: left;line-height: 53px;font-weight: 600;font-size: 20px;">
        @ViewData["Title"]
    </div>
    <div style="float:right;line-height: 51px;">
        <a asp-area="" asp-controller="Connection" asp-action="New" class="">
            <button type="button" class="btn btn-secondary btn-sm">New connection</button>
        </a>
    </div>
</div>

<table class="table table-hover table-striped table-bordered table-sm">
    <thead style="background-color:#343a40;color: white;">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Host</th>
            <th scope="col">Port</th>
            <th scope="col">Database</th>
            <th scope="col">Login</th>
            <th scope="col" style="width: 10px"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td><a href="#">mssql-dev-172.16.0.1</a></td>
            <td>mssql</td>
            <td>172.16.0.1</td>
            <td>1433</td>
            <td>prod</td>
            <td>myuser</td>
            <td><a href="#" class="badge badge-danger">X</a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td><a href="#">mssql-dev-172.16.0.1</a></td>
            <td>mssql</td>
            <td>172.16.0.1</td>
            <td>1433</td>
            <td>prod</td>
            <td>myuser</td>
            <td><a href="#" class="badge badge-danger">X</a></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td><a href="#">mssql-dev-172.16.0.1</a></td>
            <td>mssql</td>
            <td>172.16.0.1</td>
            <td>1433</td>
            <td>prod</td>
            <td>myuser</td>
            <td><a href="#" class="badge badge-danger">X</a></td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td><a href="#">mongo-dev-172.16.0.4</a></td>
            <td>mongo</td>
            <td>172.16.0.4</td>
            <td>27775</td>
            <td>prodmon</td>
            <td>myuser</td>
            <td><a href="#" class="badge badge-danger">X</a></td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td><a href="#">mongo-dev-172.16.0.4</a></td>
            <td>mongo</td>
            <td>172.16.0.4</td>
            <td>27775</td>
            <td>prodmon</td>
            <td>myuser</td>
            <td><a href="#" class="badge badge-danger">X</a></td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td><a href="#">mongo-dev-172.16.0.4</a></td>
            <td>mongo</td>
            <td>172.16.0.4</td>
            <td>27775</td>
            <td>prodmon</td>
            <td>myuser</td>
            <td><a href="#" class="badge badge-danger">X</a></td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td><a href="#">postgres-dev-172.16.0.19</a></td>
            <td>postgres</td>
            <td>172.16.0.19</td>
            <td>51666</td>
            <td>prodpost</td>
            <td>myuser</td>
            <td><a href="#" class="badge badge-danger">X</a></td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td><a href="#">postgres-dev-172.16.0.19</a></td>
            <td>postgres</td>
            <td>172.16.0.19</td>
            <td>51666</td>
            <td>prodpost</td>
            <td>myuser</td>
            <td><a href="#" class="badge badge-danger">X</a></td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td><a href="#">postgres-dev-172.16.0.19</a></td>
            <td>postgres</td>
            <td>172.16.0.19</td>
            <td>51666</td>
            <td>prodpost</td>
            <td>myuser</td>
            <td><a href="#" class="badge badge-danger">X</a></td>
        </tr>
    </tbody>
</table>